/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: rgb(250, 248, 248);
  background:#096d9b;
  font-family: sans-serif;
  overflow-y: hidden;
  text-align-last: center;
}

button {
  background-color: white;
  border-radius: 5px;
  border: none;
  appearance: none;
  font-size: 0.6rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.meenu{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.title-bar{
  right: 0;
  padding: 8;
  color: "#FFFFFF";
  background: "#2e2e2e";
  position: "relative";
  user-select: "none";
  flex: 1;
  margin-left: "auto";
  width: "auto";
  text-align: "end";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
